<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @forum_thread.title %>
</p>
<hr>
<% @forum_thread.forum_posts.includes(:user).each do |forum_post| %>
  <div>
    <p><%= forum_post.user %> posted:</p>
    <%= simple_format forum_post.body %>
  </div>

  <hr />


<% end %>

<%= render partial: "forum_posts/form" %>

<%= link_to 'Edit', edit_forum_thread_path(@forum_thread) %> |
<%= link_to 'Back', forum_threads_path %>
